/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
docker-compose.override.yml
user.sql

# Testing
.phpunit.result.cache

# Editör ve Sistem Dosyaları
.idea
.vscode
.gemini
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db

# Laravel Klasörleri (Dizin yapısını koruyup içini yoksayar)
/bootstrap/cache/*
!/bootstrap/cache/.gitignore

/storage/app/*
!/storage/app/.gitignore

/storage/app/public/*
!/storage/app/public/.gitignore

/storage/framework/cache/*
!/storage/framework/cache/.gitignore

/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore

/storage/framework/testing/*
!/storage/framework/testing/.gitignore

/storage/framework/views/*
!/storage/framework/views/.gitignore

/storage/logs/*
!/storage/logs/.gitignore

# NPM & Yarn
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
